

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <%= form_tag '/login' do %>
          Email <%= text_field_tag :email %>
          Password <%= password_field_tag :password %>
          <div class="button-group">
          <%= submit_tag "Login", class: "secondary button" %><br>
          </div>

          <% end %>
      </div>
    </div>
    <div class="medium-6 cell">


      <h3>Need an account?</h3> <h5><%= link_to 'Sign up', '/signup' %></h5>
