
<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <h5>Sign up!</h5>

      <%= form_for :user, url: '/users' do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, placeholder: "username", required: "required" %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, placeholder: "Email", :required => 'required' %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :confirm_password %>
      <%= f.password_field :confirm_password %>
        <div class="button-group">

        <%= f.submit "Submit", class: "secondary button" %><br><br>
        </div>
      <% end %>
    </div>
    <div class="medium-6 cell">
    <h5>Already have an account?</h5><br>
      <%= form_tag '/login' do %>
      <%= text_field_tag :email %>
      <%= password_field_tag :password %>
        <div class="button-group">
      <%= submit_tag "Login", class: "secondary button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</form>
