<%= form_for :user, url: '/users' do |f| %>

<br>
<div class="form-group">
  <%= f.label :username %>
  <%= f.text_field :username %>
<br>
</div>

<br>
<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email %>
<br>
</div>

<br>
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password %>
<br>
</div>

<br>
<div class="form-group">
  <%= f.label :confirm_password %>
  <%= f.password_field :confirm_password %>
<br>
</div>

  <%= f.submit "Submit" %><br>
<% end %>

<h3>Already have an account?</h3><br>

<%= form_tag '/login' do %>

<br>
<div class="form-group">
  <strong>Email: </strong>
  <%= text_field_tag :email %>
  <br>
</div>

<div class="form-group">
  <strong>Password: </strong>
  <%= password_field_tag :password %>
  <br>
</div>

<%= submit_tag "Login" %>

<% end %>
