<div class="row">
  <div class="medium-5 columns">

    <% if @animal.image.attached? %>
    <container>
      <%= image_tag @animal.image, class: "thumbnail", width: "600px", height: "400px" %>
    </container>
    <% else %>
      <% flash[:notice] = "No image yet" %><br>
    <% end %>

  </div>


  <div class="medium-7 columns animal-text">
    <h3> <%= @animal.name %> </h3>
    <p><%= @animal.info %></p>
    <div class=>




  <!-- <p>Name: <%= @animal.name %></p>
  <p>Kingdom: <%= link_to @animal.kingdom, animals_path(@animal.kingdom) %></p>
  <p>Phylum: <%= link_to @animal.phylum, animals_path(@animal.phylum) %></p>
  <p>Class: <%= link_to @animal.cls, animals_path(@animal.cls) %> </p>
  <p>Order: <%= link_to @animal.order, animals_path(@animal.order) %></p>
  <p>Family: <%= link_to @animal.family, animals_path(@animal.family) %></p>
  <p>Genus: <%= link_to @animal.genus, animals_path(@animal.genus) %></p>
  <p>Species <%= link_to @animal.species, animals_path(@animal.species) %></p> -->

  </div>
</div>
