<% if @animal.image.attached? %>
  <%= image_tag @animal.image %>


  <% else %>
  <% flash[:notice] = "No image yet" %><br>
  <% end %>
  <p>Name: <%= @animal.name %></p>
  <p>Kingdom: <%= @animal.kingdom %></p>
  <p>Phylum: <%= @animal.phylum %></p>
  <p>Class: <%= @animal.cls %> </p>
  <p>Order: <%= @animal.order %></p>
  <p>Family: <%= @animal.family %></p>
  <p>Genus: <%= @animal.genus %></p>
  <p>Species <%= @animal.species %></p>
