
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">

        <%= form_with model: @post, local: true do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %><br>
        <%= f.label :description %>
        <%= f.text_area :description %><br>
        <%= f.label :optional %>
        <%= f.collection_select :animal_id, Animal.all, :id, :name, {include_blank: 'Select beast'} %>
        <% f.text_field :user_id, hidden: true , value: session[:user_id] %>
        <%= f.collection_select :location_id, Location.all, :id, :address, {include_blank: 'Select location'} %>
        <%# <%= f.label :new_location, "Or type in a new location" %>
        <%# f.text_area :new_location %> %>
        <%= f.file_field :image %><br>
        <div class="button-group">
          <%= f.submit class: "secondary button" %>
          <% end %>
          <%= button_to "back to posts", posts_path, method: "get" , class: "secondary button"%>
        </div>
      </div>
    </div>
  </div>
