<div class="row medium-8 large-7 columns">
  <div class="blog-post">
    <div class="callout">

      Title: <%= @post.title %><br>
      User: <%= link_to @post.user.username, user_path(@post.user) %><br>
      Animal: <%= link_to @post.animal.name, animal_path(@post.animal) %><br>
      <% if @post.likes == nil %>
        <% @post.likes = 0 %>
      <% end  %>
      Comment: <%= @post.description %><br>
      <% if @post.image.attached? %>
        <%= image_tag @post.image  %><br>
      <% else %>
        <%= flash.now.concern = "No image attached yet" %><br>
      <% end %>

      <!-- <div id="map-canvas" style="width: 400px; height: 400px"> -->
      <div class="map">
        <div class="callout">


      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=600x600&markers=size:small%7Ccolor:red%7C#{@post.location.latitude},#{@post.location.longitude}&key=AIzaSyAmJCgjPpyUqdJqrVLPbpGyLq-FAaPCWq0", alt: "Map" %>
      </div>
    </div>





      Likes: <%= @post.likes %><br>

        <%  if current_user == nil || current_user.id != @post.user_id %>
        <%= button_to 'like', like_path(@post), method: "patch" %><br>
      <% end %>

      <% if !current_user || current_user.id == @post.user_id %>
        <%= link_to "edit post", edit_post_path(@post), method: "get" %><br>
        <%= link_to "delete post", post_path(@post), method: "delete",
          data: { confirm: "Are you sure?" }%><br>
      <% end %>
      <%= render partial: "comments/comments", locals: {commentable: @post} %>
      <%= render partial: "comments/form", locals: {commentable: @post} %>
      </div>
    </div>
  </div>
