<!DOCTYPE html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><%= link_to 'Beasts', animals_path %></li>
        <li><%= link_to 'Posts', '/posts/' %></li>
        <li><%= link_to 'Create post', '/posts/new' %></li>
      </ul>
    </div>


  <div class="top-bar-right">
    <ul class="menu">
    <% if current_user %>
  <li><%= link_to current_user.username, edit_user_path(current_user.id) %> </li>
  <li><%= link_to 'Logout', '/logout', method: 'delete' %></li>
  <li><% else %>
  <li><%= link_to 'Login', '/login', method: 'get' %></li>
  <li><%= link_to 'Signup', '/signup', method: 'get' %></li>
  <% end %>
  </ul>
  </div>
  </div>


  <% if notice %>
  <%= notice %><br>
  <% end %>
  <% if alert %>
  <%= alert %><br>
  <% end %>

  <%= yield %>

  </body>
</html>
